<section id="top" class="one">
	<div class="container">

		<header class="main-header">
			<p>I am a 22 year old self taught Interaction &amp; Interface designer from India. I have been building the web since the last 3 years now. I am currently an Interaction Designer at <a href="http://www.browserstack.com" target="_blank">BrowserStack</a>, which is based in Mumbai, India. Previously, I was a Research Assistant in <a href="http://idc.iitb.ac.in">Industrial Design Centre IIT Bombay</a>. I contribute a lot to the <a href="http://www.owncloud.org">ownCloud project</a></p>
		</header>

	</div>
</section>