<div id="header" class="skel-layers-fixed">

				<div class="top">

					<!-- Logo -->
					<div id="logo">
						<h1 id="title">Raghu Nayyar</h1>
						<p>Interface &amp; Interaction Designer</p>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li>
								<a href="#top" id="top-link" class="skel-layers-ignoreHref">
									<span class="icon fa-home"></span>
									<span class="icon-name">Home</span>
								</a>
							</li>
							<li>
								<a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref">
									<span class="icon fa-code-fork"></span>
									<span class="icon-name">Projects</span>
								</a>
							</li>
							<li>
								<a href="#work" id="work-link" class="skel-layers-ignoreHref">
									<span class="icon fa-th"></span>
									<span class="icon-name">Work</span>
								</a>
							</li>
							<li>
								<a href="#blog" id="blog-link" class="skel-layers-ignoreHref">
									<span class="icon fa-pencil"></span>
									<span class="icon-name">Blog</span>
								</a>
							</li>
						</ul>
					</nav>	
				</div>
				
				<div class="bottom">
					<!-- Social Icons -->
					<ul class="icons">
						<li>
							<a target="_blank" href="http://twitter.com/raghunayyar" class="icon fa-twitter">	<span class="label">Twitter</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="http://github.com/raghunayyar" class="icon fa-github">
								<span class="label">Github</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="http://instagram.com/raghunayyar" class="icon fa-instagram">
								<span class="label">Instagram</span>
							</a>
						</li>							
						<li>
							<a target="_blank" href="mailto:hey@raghunayyar.com" class="icon fa-envelope">
								<span class="label">Email</span>
							</a>
						</li>
					</ul>
				
				</div>
			
			</div>